<footer class="footer">
    <div class="footer_conteiner">

        <div class="copyright">
            <span class="copy">Copyright © Tu Web de Trabajo 2019</span>
        </div>

        <div class="redes_sociales">
            <a class="link" href="facebook.com"><i class="fab fa-facebook-f icono__red"></i><span class="red__name">Facebook</span></a>
            <a class="link" href="instagram.com"><i class="fab fa-instagram icono__red"></i><span class="red__name">Instagram</span></a>
            <a class="link" href="twitter.com"><i class="fab fa-twitter icono__red"></i><span class="red__name">Twitter</span></a>
        </div>

    </div>
</footer>