{% extends 'core/base.html' %}

{% block content %}
    <div class="acerca_de">
        <div class="titulo">
            <h3>Acerca de Nosotros</h3>
        </div>

        <p class="texto">Tenemos el agrado de presentarles nuestra web 'TUWEBDETRABAJO'.</p>
        <p class="texto pregunta">¿A qué nos dedicamos?</p>
        <p class="texto respuesta">Nos dedicamos a publicar empleos de distintos paises.</p>

        <p class="texto pregunta">¿Qué ofrecemos?</p>
        <p class="texto respuesta">Ofrecemos trabajos con la forma más rápida y sencilla de obtener el mismo.</p>

        <p class="texto pregunta">¿Por qué confiar en nosotros?</p>
        <p class="texto respuesta">Pueden confiar en nosotros porque publicamos empleos reales diariamente.</p>

        <p class="texto pregunta">¿Qué nos motivó a hacer TUWEBDETRAJO?</p>
        <p class="texto respuesta">Sabemos lo dificl que puede llegar a ser obtener un trabajo por ese motivo hacemos llegar los empleos a la gente de la manera mas rápida y sencilla posible.</p>
    </div>
{% endblock content %}