{% extends 'core/base.html' %}

{% block content %}
<div class="contacto">

    <h2 class="title">Enviame un mensaje</h2>

    <div class="contenedor_contacto">
        <div class="input_section">
            <input type="text" class="input" placeholder="Nombre">
        </div>
        <div class="input_section">
            <input type="email" class="input" placeholder="Email">
        </div>
        <div class="input_section">
            <input type="text" class="input mensaje" placeholder="Mensaje">
        </div>
        <div class="input_section">
            <input type="submit" class="input boton" value="Enviar">
        </div>
    </div>
</div>
{% endblock content %}